
/Unity Project/Pixel Odyssey/Assets/Plugins
Unity Project/Pixel Odyssey/Packages/packages-lock.json
Unity Project/Pixel Odyssey/ProjectSettings/boot.config
Unity Project/Pixel Odyssey/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
